<!DOCTYPE html>
<html lang="en">
  <%- include ("./snippets/head.ejs") -%>
  <body>
    <%- include ("./snippets/navbar.ejs") -%>

    <div class="container">
      <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg- my-5">
          <h1 class="display-1 text-center">Error 404</h1>
          <p class="text-center lead">The page you requested does not exist</p>
        </div>
        <div class="col-lg-2"></div>
      </div>
    </div>

    <%- include ("./snippets/footer.ejs") -%>
  </body>
</html>
